<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sales</title>
</head>
<body>
<div>
    <h1>Sales By Customer</h1>
    <div>
        <table>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity Sold</th>
                <th scope="col">Date</th>
                <th scope="col">Customer ID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sale : ${salesByCustomerId}">
                <td><span th:text="${sale.id}"/></td>
                <td><span th:text="${sale.productName}"/></td>
                <td><span th:text="${sale.quantitySold}"/></td>
                <td><span th:text="${sale.transactionDate}"/></td>
                <td><span th:text="${sale.customer.id}"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>